.create-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    background-color: #F4F4F5;

}
textarea{
    width: 90%;
    margin-bottom: 0px;
    border-radius: 15px;
}
.kk{
    width: 88%;
    padding: 12px;
}
/* .lll{
    width: 100%;
} */
select{
    padding: 5px;
    width: 13%;
    border-radius: 10px;
}
.logoooo{
    background-image:linear-gradient(#f68248, #F3D4C6);
    height: 80px;
    width: 80px;
    border-radius: 5cm; 
    position: relative;  
    margin-bottom: 20px;
}
.pencile{
    position: absolute;
    left:55px;
    top:55px;
    background-color: #E4E4E7;
    height: 20px;
    padding: 2px;
    border-radius: 5cm;
    width: 20px;
}
.create-container{
    padding: 20px;
}
::placeholder{
    padding: 5px;
}
.ppppp{
    margin-top: 0px;
    margin-left: 83%;
}

@media screen and (max-width:768px) {
    .kk{
        width: 88%;
        padding :3px;
    }
    ::placeholder{
        font-size: 8px;
    }
    .ppppp{
        margin-top: 0px;
        font-size: 8px;
        margin-left: 75%;
    }
    select{
        font-size: 8px;
        width: 15%;
    }
    .pencile{
        position: absolute;
        left:35px;
        top:35px;
        background-color: #E4E4E7;
        height: 10px;
        padding: 2px;
        border-radius: 5cm;
        width: 10px;
    }
    .logoooo{
        background-image:linear-gradient(#f68248, #F3D4C6);
        height: 50px;
        width: 50px;
        border-radius: 5cm;  
        position: relative; 
    }
}
